body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    border: 3px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.display{
    border: 1px solid blue;
    width: 80vh;
    margin: 2%;
    padding: 3px;
    background-color: darkgreen;

}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    grid-template-rows: 1.5fr 1fr;
    gap: 2px;
    margin: 8px;
}
.digit{
    width:120px;
    
}
.operator{

}
.dim{
    background-color: dimgrey;
    z-index: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.bright{
    background-color: lightsteelblue;
}